html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.container {
    margin: 0;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: white;
}

.bar {
    display: table;
    width: 100%;
    text-align: center;
    margin: 1em auto;
}

.button {
    border: 0;
    border-radius: 2px 2px 2px 2px;
    background-color: white;
    border-color: gray;
    color: rgb(150, 150, 150);
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(150, 150, 150);
    border-color: white;
    text-decoration: none;
}

.list {
    width: 80%;
    text-align: left;
    background-color: rgba(80, 80, 80, 0);
    color: rgb(200, 200, 200);
}

.list:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.rooms-list {
    top: 0;
    bottom: 0;
    float: left;
    height: 100%;
    box-shadow: 2px 0 2px 3px;
    background-color: rgba(100, 100, 100, .8);
    display: table;
}

.messages-list {
    top: 0;
    float: left;
    width: 83%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    padding-left: 5px;
}

.column {
    position: relative;
    float: left;
}

.sixth {
    width: 16.7%;
}

.half {
    width: 50%;
}

.messages-container {
    margin-bottom: 3px;    
}

.messages {
    display: block;
    clear: right;
    width: 100%;
    background-color: rgb(200, 200, 200);
    text-align: left;
    color: white;
}

.messages .name {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    box-sizing: border-box;
    min-height: 35px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.messages .content {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
    min-height: 35px;
}

.full {
    width: 100%;
}

.send-bar-container {
    background-color: rgba(100, 0, 0, .5);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 83%;
    height: 100px;
}

.send-bar {
    text-align: left;
    height: 30px;
    width: 70%;
    margin-left: 10%;
    margin-top: 35px;
}

.send-button {
    height: 30px;
    width: 5%;
    background-color: white;
    color: rgb(100, 100, 100);
    border: 0;
}

.send-button:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}
