html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    margin: 0;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: white;
}

.bar {
    display: table;
    width: 100%;
    text-align: center;
    margin: 1em auto;
}

.button {
    border-radius: 2px 2px 2px 2px;
    background-color: white;
    border-color: gray;
    color: rgb(150, 150, 150);
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(150, 150, 150);
    border-color: white;
    text-decoration: none;
}

.rooms-list {
    position: relative;
    min-width: 200px;
    height: 100%;
    display: table;
    background-color: rgba(100, 100, 100, .8);
}

.rooms-list .room {
    display: block;
    margin-left: .5em;
    margin-bottom: 1em;
    color: rgb(200, 200, 200);
}

.column {
    position: absolute;
    float: left;
}

.sixth {
    width: 16.7%;
}

.half {
    width: 50%;
}

